In [1]:
!conda install -y -c conda-forge scikit-surprise

Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Sai Krishna\Anaconda3

  added / updated specs:
    - scikit-surprise


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2018.4.16          |           py36_0         143 KB  conda-forge
    joblib-0.13.2              |             py_0         180 KB  conda-forge
    conda-4.6.7                |           py36_0         891 KB  conda-forge
    scikit-surprise-1.0.6      |py36h452e1ab_1001         590 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         1.8 MB

The following NEW packages will be INSTALLED:

    joblib:          0.13.2-py_0             conda-forge
    scikit-surprise: 1.0.6-py36h452e1ab_1001 conda-forge

The following packages will be UPDATED:

    certifi:         2018.4.16-py36_0                    --> 2018.4.16-py36_0 conda-forge
    conda:           4.5.12-py36_0                       --> 4.6.7-py36_0     conda-forge


Downloading and Extracting Packages
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 4.5.12
  latest version: 4.6.7

Please update conda by running

    $ conda update -n base -c defaults conda



certifi-2018.4.16    | 143 KB    |            |   0%
certifi-2018.4.16    | 143 KB    | 8          |   8%
certifi-2018.4.16    | 143 KB    | #######5   |  75%
certifi-2018.4.16    | 143 KB    | ########## | 100%

joblib-0.13.2        | 180 KB    |            |   0%
joblib-0.13.2        | 180 KB    | 6          |   7%
joblib-0.13.2        | 180 KB    | ###3       |  33%
joblib-0.13.2        | 180 KB    | ####       |  40%
joblib-0.13.2        | 180 KB    | #######3   |  73%
joblib-0.13.2        | 180 KB    | ########## | 100%

conda-4.6.7          | 891 KB    |            |   0%
conda-4.6.7          | 891 KB    | 2          |   3%
conda-4.6.7          | 891 KB    | 6          |   7%
conda-4.6.7          | 891 KB    | #          |  11%
conda-4.6.7          | 891 KB    | #6         |  16%
conda-4.6.7          | 891 KB    | ##1        |  22%
conda-4.6.7          | 891 KB    | ##9        |  30%
conda-4.6.7          | 891 KB    | ###6       |  36%
conda-4.6.7          | 891 KB    | ####5      |  46%
conda-4.6.7          | 891 KB    | #####3     |  54%
conda-4.6.7          | 891 KB    | ######8    |  69%
conda-4.6.7          | 891 KB    | ########1  |  81%
conda-4.6.7          | 891 KB    | #########  |  90%
conda-4.6.7          | 891 KB    | #########6 |  97%
conda-4.6.7          | 891 KB    | ########## | 100%

scikit-surprise-1.0. | 590 KB    |            |   0%
scikit-surprise-1.0. | 590 KB    | 2          |   2%
scikit-surprise-1.0. | 590 KB    | #4         |  14%
scikit-surprise-1.0. | 590 KB    | ##6        |  26%
scikit-surprise-1.0. | 590 KB    | ###4       |  35%
scikit-surprise-1.0. | 590 KB    | ####4      |  45%
scikit-surprise-1.0. | 590 KB    | #####8     |  59%
scikit-surprise-1.0. | 590 KB    | ######9    |  69%
scikit-surprise-1.0. | 590 KB    | #######8   |  78%
scikit-surprise-1.0. | 590 KB    | ########7  |  87%
scikit-surprise-1.0. | 590 KB    | #########2 |  93%
scikit-surprise-1.0. | 590 KB    | #########8 |  98%
scikit-surprise-1.0. | 590 KB    | ########## | 100%

In [1]:
import pandas as pd
import numpy as np
# from sklearn.model_selection import GridSearchCV, cross_val_score
# from sklearn.decomposition import PCA
# from sklearn.ensemble import RandomForestRegressor, BaggingRegressor, AdaBoostRegressor
# from sklearn.linear_model import RidgeCV, LassoCV, SGDRegressor
# from xgboost import XGBRegressor
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.svm import SVR
# from sklearn.preprocessing import StandardScaler, MinMaxScaler
# from fancyimpute import MICE
from surprise import SVD, NMF, KNNBasic
from surprise import dataset
from surprise.model_selection import cross_validate

In [4]:
train_path = 'C:/Users/Sai Krishna/Downloads/Black Friday/train.csv'
test_path = 'C:/Users/Sai Krishna/Downloads/Black Friday/test.csv'

In [5]:
train, test = pd.read_csv(train_path), pd.read_csv(test_path)

In [6]:
train.head(10)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871

In [7]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [9]:
train.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [10]:
train.shape,test.shape

((550068, 12), (233599, 11))

In [11]:
train.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Product_Category_3            166821 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [15]:
# Set function returns unique values in product_ID
set_1 = set(train.Product_ID)
set_2 = set(test.Product_ID)

In [16]:
len(set_1-set_2)

186

In [17]:
len(set_2-set_1)

46

In [22]:
len(set_1),len(set_2)

(3631, 3491)

In [24]:
train['Purchase_in_th'] = train['Purchase']/1000

In [25]:
train.replace(np.nan,99,inplace=True)

In [26]:
train.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
Purchase_in_th                0
dtype: int64

In [27]:
train.Product_Category_1 = train.Product_Category_1.astype('category')
train.Product_Category_2 = train.Product_Category_2.astype('category')
train.Product_Category_3 = train.Product_Category_3.astype('category')

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 13 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null category
Product_Category_2            550068 non-null category
Product_Category_3            550068 non-null category
Purchase                      550068 non-null int64
Purchase_in_th                550068 non-null float64
dtypes: category(3), float64(1), int64(4), object(5)
memory usage: 43.5+ MB

In [29]:
print(len(set(train.Product_ID)))
print(len(set(train.User_ID)))
print(len(set(train.Product_Category_1)))
print(len(set(train.Product_Category_2)))
print(len(set(train.Product_Category_3)))

3631
5891
20
18
16

In [33]:
len(train['Product_ID'].unique())

3631

In [34]:
train.describe()

,User_ID,Occupation,Marital_Status,Purchase,Purchase_in_th
count,5.500680e+05,550068.000000,550068.000000,550068.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,9263.968713,9.263969
std,1.727592e+03,6.522660,0.491770,5023.065394,5.023065
min,1.000001e+06,0.000000,0.000000,12.000000,0.012000
25%,1.001516e+06,2.000000,0.000000,5823.000000,5.823000
50%,1.003077e+06,7.000000,0.000000,8047.000000,8.047000
75%,1.004478e+06,14.000000,1.000000,12054.000000,12.054000
max,1.006040e+06,20.000000,1.000000,23961.000000,23.961000

In [35]:
user_product_purchase_dataset = train.groupby(['User_ID','Product_ID'])['Purchase'].sum().unstack().reset_index().fillna(0).set_index('User_ID')

In [36]:
user_product_purchase_dataset

Product_ID,P00000142,P00000242,P00000342,P00000442,P00000542,P00000642,P00000742,P00000842,P00000942,P00001042,...,P0098942,P0099042,P0099142,P0099242,P0099342,P0099442,P0099642,P0099742,P0099842,P0099942
User_ID,,,,,,,,,,,,,,,,,,,,,
1000001,13650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000006,10620.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000008,0.0,0.0,0.0,5387.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000010,0.0,16422.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000013,0.0,10079.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11659.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000018,10854.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19498.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000021,8143.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12003.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000023,11017.0,6604.0,0.0,0.0,0.0,12015.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6942.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000026,0.0,0.0,3471.0,5333.0,8902.0,0.0,7034.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000028,8059.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006011,13300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006013,13352.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006015,13323.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006016,10743.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6135.0,0.0,0.0,0.0,0.0,0.0,0.0
1006017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006019,0.0,13040.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11988.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006021,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006022,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006025,13492.0,0.0,5432.0,0.0,0.0,0.0,7066.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6083.0,0.0,0.0,0.0,0.0,0.0,0.0
1006026,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006027,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19147.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006028,0.0,0.0,0.0,0.0,0.0,15862.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006029,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006030,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006032,10946.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006035,11072.0,0.0,1892.0,3699.0,1730.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,8265.0,0.0,0.0,0.0,0.0
1006036,0.0,0.0,0.0,3463.0,0.0,11500.0,0.0,0.0,0.0,0.0,...,8101.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1006040,8109.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
from surprise.reader import Reader

In [38]:
r = Reader(rating_scale=(0,24))

In [39]:
D = dataset.Dataset.load_from_df(train[['User_ID','Product_ID','Purchase_in_th']],
                                 reader=r)

In [42]:
D.df

        User_ID Product_ID  Purchase_in_th
0       1000001  P00069042           8.370
1       1000001  P00248942          15.200
2       1000001  P00087842           1.422
3       1000001  P00085442           1.057
4       1000002  P00285442           7.969
5       1000003  P00193542          15.227
6       1000004  P00184942          19.215
7       1000004  P00346142          15.854
8       1000004   P0097242          15.686
9       1000005  P00274942           7.871
10      1000005  P00251242           5.254
11      1000005  P00014542           3.957
12      1000005  P00031342           6.073
13      1000005  P00145042          15.665
14      1000006  P00231342           5.378
15      1000006  P00190242           2.079
16      1000006   P0096642          13.055
17      1000006  P00058442           8.851
18      1000007  P00036842          11.788
19      1000008  P00249542          19.614
20      1000008  P00220442           8.584
21      1000008  P00156442           9.872
22      1000008  P00213742           9.743
23      1000008  P00214442           5.982
24      1000008  P00303442          11.927
25      1000009  P00135742          16.662
26      1000009  P00039942           5.887
27      1000009  P00161442           6.973
28      1000009  P00078742           5.391
29      1000010  P00085942          16.352
...         ...        ...             ...
550038  1005995  P00375436           0.596
550039  1005996  P00371644           0.595
550040  1005997  P00370853           0.026
550041  1006000  P00371644           0.488
550042  1006002  P00371644           0.243
550043  1006003  P00370293           0.048
550044  1006004  P00370853           0.062
550045  1006005  P00371644           0.252
550046  1006006  P00375436           0.236
550047  1006009  P00372445           0.244
550048  1006010  P00371644           0.591
550049  1006011  P00375436           0.473
550050  1006012  P00371644           0.368
550051  1006013  P00375436           0.489
550052  1006016  P00375436           0.239
550053  1006017  P00371644           0.371
550054  1006018  P00370293           0.060
550055  1006019  P00372445           0.238
550056  1006022  P00375436           0.254
550057  1006023  P00370853           0.061
550058  1006024  P00372445           0.121
550059  1006025  P00370853           0.048
550060  1006026  P00371644           0.494
550061  1006029  P00372445           0.599
550062  1006032  P00372445           0.473
550063  1006033  P00372445           0.368
550064  1006035  P00375436           0.371
550065  1006036  P00375436           0.137
550066  1006038  P00375436           0.365
550067  1006039  P00371644           0.490

[550068 rows x 3 columns]

In [40]:
cross_validate(SVD(),D,cv=5)

{'test_rmse': array([2.68692403, 2.68567439, 2.68293164, 2.70653983, 2.69425105]),
 'test_mae': array([1.9625297 , 1.96661455, 1.96487957, 1.97171415, 1.96880941]),
 'fit_time': (93.66003394126892,
  93.94032335281372,
  94.87692523002625,
  94.17683529853821,
  92.89180064201355),
 'test_time': (2.7067196369171143,
  3.3038995265960693,
  2.532238483428955,
  2.8127729892730713,
  2.915281295776367)}

In [43]:
# Non Negetive Matrix Factorization
NMF()

In [44]:
np.array(D)

array(<surprise.dataset.DatasetAutoFolds object at 0x0000016F9F9ABE10>,
      dtype=object)

In [45]:
S = SVD(n_factors=500)

In [46]:
d1=D.build_full_trainset()

In [47]:
S.fit(d1)

In [48]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [52]:
S.predict(uid='1000004',iid='P00128942')[3]

12.635300172309416

In [53]:
pred_test = []
for u,i in zip(test.User_ID,test.Product_ID):
    pred = S.predict(uid=u,iid=i)[3]
    pred = pred*1000
    pred_test.append((u,i,pred))

In [54]:
pred1 = pd.DataFrame(pred_test,columns=['User_ID','Product_ID','Purchase'])
pred1.to_csv('C:/Users/Sai Krishna/Downloads/Black Friday/pred1.csv')

In [55]:
pred1

        User_ID Product_ID      Purchase
0       1000004  P00128942  16358.386397
1       1000009  P00113442  10404.682685
2       1000010  P00288442   7687.482245
3       1000010  P00145342   5430.944645
4       1000011  P00053842   3350.850851
5       1000013  P00350442  12159.853708
6       1000013  P00155442  11676.695914
7       1000013   P0094542   9169.179945
8       1000015  P00161842  13511.999400
9       1000022  P00067942   5437.816205
10      1000026  P00046742  11640.688485
11      1000026  P00040042   5426.272525
12      1000026  P00196542   6717.289181
13      1000026  P00004542   4171.543134
14      1000028  P00159542  15218.990489
15      1000029  P00111542  14358.855628
16      1000033  P00121042  17527.432797
17      1000033  P00344442   5952.893239
18      1000034  P00265242   8339.581884
19      1000035   P0096642   8114.190042
20      1000036  P00303042   7449.791290
21      1000036  P00059642  13011.514444
22      1000042  P00030842  14794.471511
23      1000045  P00346442   9180.221302
24      1000045  P00357242   5532.112315
25      1000045  P00284742   6178.842492
26      1000048  P00110842  15118.344054
27      1000048  P00251642   5147.022769
28      1000053  P00136742  14895.382976
29      1000053   P0097342  13204.365998
...         ...        ...           ...
233569  1005996  P00184242  18487.154737
233570  1005996  P00045342  11634.318150
233571  1006001  P00124642  14571.501885
233572  1006002  P00121142   9371.583715
233573  1006002  P00233542  14325.401668
233574  1006002  P00226342   5735.063277
233575  1006002  P00284842  15297.958669
233576  1006003  P00313342   6833.978209
233577  1006010  P00223542  14403.548867
233578  1006013  P00020342   7177.609943
233579  1006016  P00014842   7454.331024
233580  1006016  P00109542   8163.100300
233581  1006018  P00071442  18631.039352
233582  1006021  P00112542  14064.970578
233583  1006021  P00003442   2403.008452
233584  1006023  P00262242  11735.841036
233585  1006025  P00161142   5216.787771
233586  1006026  P00110742  14895.561694
233587  1006028  P00162442  13523.107596
233588  1006030  P00129842  16693.914923
233589  1006030  P00241442  12239.072668
233590  1006032  P00252442   8545.875184
233591  1006033  P00127642  13411.950624
233592  1006035  P00135742  12320.689689
233593  1006036  P00255442   7342.332362
233594  1006036  P00118942   9222.500517
233595  1006036  P00254642   6694.962386
233596  1006036  P00031842   8832.646037
233597  1006037  P00124742  15570.888698
233598  1006039  P00316642   2350.429891

[233599 rows x 3 columns]